body {
    background-image: url('../pics/crypt.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainBox {
    width: 800px;
    max-width: 75%;
    height: 95%;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.boxes {
    background-color: rgb(204, 207, 207);
    border: 2px solid rgb(1, 58, 4);
    height: 30%;
}

.inputBox{
    width: 100%;
}
input:focus::placeholder {
    color: transparent;
}

.buttons {
    background-color: burlywood;
}

